.form-floating{
    position: absolute;
    width: 20vw;
    height: 40vh;
    left: 40vw;
    top: 5vh;
    border: 1px solid black;
}
#floatingTextarea{
    height: 100%;
    text-align: center;
    font-size: 1.5em;
}
#floatingTextarea::placeholder{
    color: grey;
}
.simplify{
    position: absolute;
    width: 50vw;
    left: 25vw;
    text-align: center;
    font-size: 1.5em;
    top: 50vh;
    border: 1px solid black;
}
tr, td{
    border: 5px solid black;
    width: 5vw;
    text-align: center;
    font-weight: 900;
}
.output{
    position: absolute;
    width: 25vw;
    left: 5vw;
    top: 5vh;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
}
.output span{
    font-weight: 800;
    white-space: pre-line;
}